@charset "utf-8";
/* CSS Document */
body, h1, h2, dl, dt, dd, ul, li, p {
            margin: 0;
            padding: 0;
        }
body {
            background: #F1F1F1;
            font: 12px/1.2 Verdana, sans-serif;
        }

h1, h2, p { 
	       margin-bottom: 10px;
		 }

h2 {
            padding: 3px;
            background: #808080;
            color: #fff;
            font-size: 100%;
        }

a { 
            color: #961917; 
        }
.divstyle {
            overflow: hidden;
            margin-left: 5px;
        }
[class ^= "span"], [class *= " span"] {
            float: left;
            margin-left: 15px;
        }
.span1 { 
            width: 150px; 
	    }
.span2 { 
           width: 490px;
		  
	    }

.img-left {
            float: left;
            margin-right: 10px;
        }
.searchinput[type = "search"] {
	        width: 90px; 
	    }
[class ^= "icon"], [class *= " icon"] {
            display: inline-block;
            width: 25px;
            height: 25px;
            vertical-align: text-bottom;
        }
.icon-home {
	
	
	        background-image:url(images/home.png);
	    }
.liststyle { 
            list-style: none; 
		}
.inline li { 
            display: inline-block;
	    }
.style dt { font-weight: bold; }
.style dd a { color: #000; }
.style a { text-decoration: none; }
.style a:hover { text-decoration: underline; }
.pagination a {
            display: block;
            padding: 3px;
            width: 100px;
            border: 1px solid #2A2A2A;
            color: #0F0F0F;
            text-align: center;
            text-decoration: none;
        }
.pagination li { position: relative; }
.prev::after, .next::after {
            position: absolute;
            top: 3px;
        }
.prev::after {
            left: 3px;
            content: "◄";
        }
.next::after {
            right: 3px;
            content: "►";
        }
.rightbox {
            margin-bottom: 2px;
            padding: 2px;
            border: 1px solid #8A8A8A;
            background: #fff;
        }
.rightbox h2 { margin: -2px -2px 0 -2px; }
.content {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #A1A1A1;
            background: #fff;
        }
.aside { text-align: center; }
.aside h2 {
            margin-bottom: 2px;
            text-transform: uppercase;
        }