@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
}

body {
	background-color:#000;
	font-family: 14px Verdana, Geneva, sans-serif;
}
ul, li {
	list-style:none;
	margin:0;
	padding:0;
	}
a {
	list-style:none;
	margin:0;
	padding:0;
}
.container {
	width:700px;
	min-height:370px;
	background-color:#1e3741;
    border: 1px solid #337d8f;
	border-radius: 8px;
	padding-bottom: 10px;
}
nav {
	width:100%;
	height:34px;
	margin: 10px 0;
}
nav ul li a{
	padding: 0 13px;
	line-height: 34px;
	background: #4b5f67;
	font-size: 14px;
	font-weight:bold;
	color: #7b9ead;
	float:left;
	margin-right:1px;
}
nav ul li a:hoover {
	text-decoration:underline;
}
nav ul li:first-child a{
	 background: #1e3741;
	 color: white;
	 text-decoration:none;
}
.liststyle {
	list-style:none;
}
aside {
	margin-top:-350px; 
	float:left; 
	height:auto;
}
aside ul li{
	width: 264px;
	padding: 12px 10px;
}
aside ul li a{
	font-size:13px;
	color: #8ba39b;
	font-weight:bold;
	text-decoration:none;
}
aside ul li:nth-child(odd){
	border: 1px solid #76868d;
	border-right:none;
	border-left:none;
}
aside ul li:nth-child(even){
	border: 1px solid #29404a;
	border-right:none;
	border-left:none;
}
aside ul li:hover, aside ul li:first-child{
	border: 1px solid #14585b;
	border-right:none;
	border-left:none;
	background: #06c7ba;
}
aside ul li:hover a, aside ul li:first-child a{
	color: white;
	font-size:16px;
}
aside ul li:last-child{
	border-bottom:none;
}
section {
	margin-left:300px;
	margin-top:-350px;
}