@charset "utf-8";
/* CSS Document */

#Menu {
	margin:0;
	padding:0;
}

 ul {
	list-style-type:none;
	
}
.clear fix {
	zoom:1;
}
.clear fix: after {
	content: "";
	display: block;
	clear:both;
	height:0;
}
ul li.selected a {
	text-decoration:underline;
}
ul li a {
	text-decoration:none;
	color:#000000;
}
ul li a:hover {
	text-decoration:underline;
	
}

ul li ul {
	display:none;

	
}
ul li:hover ul {
	display:block;
	
}

ul ul li a {
    color:grey;
	margin-left:-30px;
}